.holding {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid rgba(59, 58, 58, 0.5);
  border-collapse: collapse;
  padding: 0.625em;
  margin-top: 0.625em;

  p {
    width: 100%;
    font-size: 1.25rem;
  }
}

@media (max-width: 1279px) {
  .holding {
    padding: 0.325em;
    margin-top: 0.425em;
    justify-content: space-between;

    p {
      width: auto;
      font-size: 1rem;
    }
  }
}
