.Card {
  width: 100%;
  height: fit-content;

  padding: 2em;
  margin: 1em;

  background-color: transparent;
  border: 2px solid rgb(161, 155, 155);
  border-radius: 10px;

  h1 {
    color: #333533;
    font-weight: 600;
  }
}

@media (max-width: 1279px) {
  .Card {
    padding: 1em;
    margin: 0.625em;

    h1 {
      font-size: 1.225rem;
    }
  }
}
